@page
@model LogoutModel
@{
    ViewData["Title"] = "Đăng xuất";
}

<div class="text-center mt-5">
    <h3>Đăng xuất</h3>
    <p>Đang đăng xuất...</p>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
